@{
    Layout = "MyLayout";
}

@*<script src="~/js/site.js" asp-append-version="true"></script>
@await Component.InvokeAsync("Notyf")
@RenderSection("Scripts", required: false)*@


<html>
<body>
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <form class="forms-sample" method="post" asp-controller="Author" asp-action="AddAuthor">
                               @* <div class="form-group">
                                    <label for="id">ID</label>
                                    <input hidden  type="text" class="form-control"  name="Id" placeholder="ID">
                                </div>*@
                                <div class="form-group">
                                    <label for="name">Name</label>
                                    <input type="text" class="form-control" id="name" name="name" placeholder="Name" />
                                </div>
                                <div class="form-group">
                                    <label for="title">Title</label>
                                    <input type="text" class="form-control" name="title" id="title" placeholder="title">

                                </div>
                                <div class="form-group">
                                    <label for="writer">Writer</label>
                                    <input type="text" class="form-control" name="writer" id="writer" placeholder="writer">
                                </div>
                                <div class="form-group">
                                    <label for="isbn">ISBN</label>
                                    <input type="number" class="form-control" name="isbn" id="isbn" placeholder="isbn">
                                </div>

                               
                                <button type="submit" class="btn btn-primary">Submit</button>
                                <button class="btn btn-light">Cancel</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
